.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btn-primary {
    color: white;
    background-color: #094790;
    border-color: #fff
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    background-color: #0e5ba8;
    border-color: #fff; /*set the color you want here*/
}


.border-primary {
    border-color: #000
}
.flex-wrap-gap {
  display: flex;
  flex-wrap: wrap;
  gap:  5px; /* Set the gap value to the desired amount */
}

.flex-wrap-gap > div {
  flex: 1; /* Set the flex property to fill the available space equally */
}


#bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}


h1, p{
  margin:0px;
  padding:0px;
}

@media only screen and (max-width:736px) {
    body{
        margin:0;
        padding:0;
    }
}

html, body {
    background-color: #F2F2F2;
    height: 100%;
    margin: 0;
}

:root, body {
  background-color: #F2F2F2;
}

#app, #app>div {
    background-color: #F2F2F2;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
    background-color: #f2f2f2;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}

.info-icon {
  margin-left: 0.5rem;
  cursor: pointer;
}
