.centerme {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  margin-top: 20px;
  font-size: 36px;
  font-weight: bold;
  color: #333;
}

.description {
  margin-top: 20px;
  font-size: 18px;
  color: #555;
}

#box {
  background-color: #094790;
  border-radius: 20px;
  width: 200px;
  height: 100px;
  color: #fff;
  align-items: center;
  font-size: 2.125rem;
  display: flex;
  justify-content: center;
}

.small-text {
  font-size: 14px;
}

.my-element {
  padding: 10px;
}

.cta {
  margin-top: 40px;
  padding: 20px 40px;
  background-color: #3f51b5;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F2F2F2;
  height: 100vh;
}

.landing-header {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-brand {
  margin: 0 auto;
}

.landing-title {
  margin: 20px 0;
  font-size: 36px;
  font-weight: bold;
  color: #333;
}

.landing-main {
  margin-top: 20px;
  text-align: center;
}

.landing-subtitle {
  margin-bottom: 40px;
  font-size: 18px;
  color: #333;
}

.landing-cta {
  padding: 9px 40px;
  font-size: 18px;
  background-color: #444444;
  color: #fff;
  border-radius: 30px;
  cursor: pointer;
}

.landing-cta:hover {
  background-color: #333333;
}

.disclaimer-box {
  width: 80%;
  margin: 0 auto;
  background-color: lightgray;
  padding: 1rem;
  border-radius: 1rem;
}

.disclaimer-text {
  font-style: italic;
  text-align: center;
}

